<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.qspool.clementineremote"
    android:versionCode="4"
    android:versionName="0.3" >

    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="de.qspool.clementineremote.App"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name=".ClementineRemoteControlActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ConnectDialog"
                  android:windowSoftInputMode="stateHidden|adjustResize"
                  android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.Player"
                  android:theme="@style/PlayerTheme"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.ClementineRemoteSettings"
                  android:theme="@style/PreferencesTheme"></activity>
        <activity android:name=".ui.Playlists"
                  android:theme="@style/PlayerTheme"></activity>
        <service android:name=".backend.ClementineService"></service>
        <receiver android:name=".backend.ClementineMediaButtonEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>